body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #f0f0f0; /* Light grey background */
}

.glossary-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
}

h1 {
    color: #333;
    text-align: center;
}

.search-container {
    text-align: center;
    margin: 20px 0;
}

#searchInput {
    font-size: 16px;
    padding: 10px;
    width: 50%;
    margin-bottom: 20px;
    border: 2px solid #000cad;
    border-radius: 10px;
}

.terms-section {
    margin-top: 20px;
}

.term {
    background: #fff;
    border: 2px solid #1976d2; /* Blue border */
    border-radius: 10px; /* Smooth border radius */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    transition: background-color 0.3s ease, transform 0.3s ease, border-color 0.3s ease;
    cursor: default;
}

.term:hover {
    background-color: #e0f7fa;
    transform: scale(1.02);
    cursor: pointer;
}

.details {
    color: #666;
    font-size: 0.9em;
    display: block;
    margin-top: 5px;
}
