.alphabet-nav {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    background-color: #e0e0e0;
    padding: 5px 0;
    flex-wrap: wrap;
    margin: 0;
}

.alphabet-nav a {
    padding: 5px 10px;
    color: black;
    text-decoration: none;
    margin: 0 2px;
    font-size: 16px;
    font-weight: bold;
}

.alphabet-nav a:hover {
    text-decoration: underline;
    background-color: #d0d0e0;
}
