.card-header .btn {
    width: 100%;
    text-align: left;
    font-size: 1.25rem;
    color: #333;
    text-decoration: none;
}

.card-header {
    background-color: #f8f8f8;
}

.card-body {
    background-color: #fff;
}

.container {
    padding: 20px;
}


h1, h2 {
    color: #1976d2; 
    margin-bottom: 10px;
}


p {
    color: #333; 
    font-size: 1em;
    margin-bottom: 15px;
    line-height: 1.6;
}


.card {
    border: 1px solid #1976d2; 
    margin-bottom: 10px; 
}

.card-header {
    background-color: #e0f7fa; 
    color: #1976d2; 
}

.card-body {
    background-color: #ffffff; 
    color: #333; 
}


a {
    color: #1976d2; 
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


ul {
    padding-left: 20px;
}

li {
    margin-bottom: 5px;
}